<!-- Tim Williams, Brady Leggett -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
    <H1> Ice Cream Order Form </H1>

    <fieldset>
        <legend> Personal Information </legend>
        <p> Name: </p>
        <input type="text">

        <p> Email: </p>
        <input type="text">
    </fieldset>

    <fieldset>
        <legend> Order Details </legend>
        <p> Choose your Flavor: </p>
        <select name="Size" id="Size"> 
            <option value="none">-- Select a Flavor --</option>
            <option value="Vanilla">Vanilla</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Strawberry">Strawberry</option>
        </select>

        <p>Choose your Cone:</p>
        <input type="radio"> Waffle Cone
        <input type="radio"> Sugar Cone
        <input type="radio"> Cup

        <p>Toppings:</p>
        <input type="checkbox"> Sprinkles
        <input type="checkbox"> Nuts
        <input type="checkbox"> Cherry
        <input type="checkbox"> Whipped Cream

    </fieldset>
    <button type="submit"> Order </button>
    </div>
</body>
</html>