<!-- Tim Williams, Brady Leggett -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div>
    <H1> Ice Cream Order Form </H1>

    <fieldset>
        <legend> Personal Information </legend>
        <p> Name: </p>
        <input type="text" name="fname">

        <p> Email: </p>
        <input type="text" name="email">
    </fieldset>

    <fieldset>
        <legend> Order Details </legend>
        <p> Choose your Flavor: </p>
        <select name="Flavor" id="Flavor"> 
            <option value="none" >-- Select a Flavor --</option>
            <option value="Vanilla" >Vanilla</option>
            <option value="Chocolate" >Chocolate</option>
            <option value="Strawberry" >Strawberry</option>
        </select>

        <p>Choose your Cone:</p>
        <input type="radio" name="cone" value="Waffle Cone"> Waffle Cone
        <input type="radio" name="cone" value="Sugar Cone"> Sugar Cone
        <input type="radio" name="cone" value="Cup"> Cup

        <p>Toppings:</p>
        <input type="checkbox" name="toppings" value="Sprinkles"> Sprinkles
        <input type="checkbox" name="toppings" value="Nuts"> Nuts
        <input type="checkbox" name="toppings" value="Cherry"> Cherry
        <input type="checkbox" name="toppings" value="WhippedCream"> Whipped Cream

        <p>Additional comments:</p>
        <textarea></textarea>

    </fieldset>
    <button type="submit"> Order </button>
    </div>
</body>
</html>